/* 
=================
Fonts
=================
*/
@font-face {
    font-family: "vazir";
    src: url(../fonts/vazir/Vazir-Medium-FD-WOL.woff2) format("woff2"),
        url(../fonts/vazir/Vazir-Medium-FD-WOL.woff) format("woff"),
        url(../fonts/vazir/Vazir-Medium-FD-WOL.ttf) format("truetype");
}

/* 
=================
Variables
=================
*/
:root {
    --clr-primary-1: #0D1321;
    --clr-primary-2: #1D2D44;
    --clr-primary-3: #3D5A80;
    --clr-primary-4: #577399;
    --clr-primary-5: #748CAB;
    --clr-primary-6: #BDD5EA;
    --clr-primary-light: #F7F7FF;
    --clr-second-1: #EE6C4D;
    --clr-white: white;
    --ff-primary: "vazir", sans-serif;
    --transition: all 0.3s linear;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
}

/* 
=================
Global Styles
================= 
*/
::after,
::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    background: var(--clr-white);
    color: var(--clr-primary-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4 {
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-primary-3);
}

@media screen and (min-width:800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}




/* 
=================
Navbar
================= 
*/
.nav {
    background: var(--clr-primary-5);
    height: 4.5rem;
    padding: 1rem;
    transition: var(--transition);
}

.nav-center {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.nav-header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    color: var(--clr-primary-2);
}

.nav-header h3 {
    font-size: 1.75rem;
}

.nav-btn {
    justify-self: end;
    background: transparent;
    border: transparent;
    color: var(--clr-primary-2);
    font-size: 2rem;
    cursor: pointer;
}

.nav-links {
    display: none;
}

.navbar-fixed{
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
}

@media screen and (min-width: 768px) {
    .nav-btn {
        display: none;
    }

    .nav-center {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    .nav-links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-self: end;
        column-gap: 2rem;
        justify-items: center;
    }

    .nav-links a {
        color: var(--clr-primary-2);
        transition: tr;
    }

    .nav-links a:hover{
        color: var(--clr-primary-6);
    }
}